# Automatically enforce use of Linux-type (LF) line endings for the following text file types.
*.ipy text eof=lf
*.ipynb text eof=lf
*.md text eof=lf
*.py text eof=lf
*.txt text eof=lf
*.yml text eof=lf
